.card-tablas{
    margin-top: 20px;
    height: 800%;
    width: 800%;
    padding: 5px  5px;
    border-radius: 6px;    
}
.tablas{
    text-align: center;
}
#cabeza{
    text-align: center;
}
.descripcion{
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 200%;
max-height: 100%;
   
    text-align: center;
}

.seleccionar{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#datatable{
    width:800%;
    padding:0px ;
}
.pie-pagina{
    width: 100%;
height: 100%;
    background-color: #f78649;
    margin: 300px 0 0;
}
.pie-pagina h3{
color: #1c1c1c;
    text-align: center;
}
.pie-pagina .grupo-2{
    padding: 15px 10px;
    text-align: center;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}