.card{
    background:radial-gradient(circle, rgba(52,10,200,1) 0%, rgba(70,252,224,1) 87%);
    border-radius: 50%;
    height: 600px;
    width: 400px;
    top: 10%;
    left: 40%;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1px 30px;
}
h1{
    text-align: center;
    padding: 20px 30px;
}
hr{
    width: 90%;
    margin: 20px;
}

label{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   width: 100%;
   text-align: left;
   font-size: larger;

}
input{
    padding: 8px;
    width:80%;
    margin: 10px 0 30px 50px;
    
}
.btn{
  background: #c68080;
  color: #000;
  padding: 10px;
  width: 70%;
  margin: 20px 70px ;
  border-radius:10px;
  cursor: pointer;
}
a{
    position: relative;
    padding: 10px;
    font-size: larger;
}
.card input[type="text"],
.card input[type="password"]{
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   height: 40px;
   color: #000;
   font-size: 16px;
}
.btn[type="submit"]:hover{
  opacity: 1;
}

.btn[type="submit"]:active{
  transform: scale(0.95);
}
.btn-table{
    width: 80px;
}






